MovieServiceClient/Service References/MovieService/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51079/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
  <xs:import schemaLocation="http://localhost:51079/ClientService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="LoginResult" nillable="true" type="q1:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeancesByMovieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeancesByMovieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetSeancesByMovieIdResult" nillable="true" type="q2:ArrayOfSeanceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeancesByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeancesByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetSeancesByTitleResult" nillable="true" type="q3:ArrayOfSeanceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationSinglePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seanceId" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationSinglePositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationMultiplePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seanceId" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rows" nillable="true" type="q4:ArrayOfint" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positions" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationMultiplePositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationPositionId" type="xs:int" />
        <xs:element minOccurs="0" name="newRow" type="xs:int" />
        <xs:element minOccurs="0" name="newPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetReservationResult" nillable="true" type="q6:ReservationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetReservationsResult" nillable="true" type="q7:ArrayOfReservationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
        <xs:element minOccurs="0" name="row" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rows" nillable="true" type="q8:ArrayOfint" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positions" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReservationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetMovieResult" nillable="true" type="q10:MovieModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetMoviesResult" nillable="true" type="q11:ArrayOfMovieModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaHallId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaHallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetCinemaHallResult" nillable="true" type="q12:CinemaHallModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaHallsForMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="model" nillable="true" type="q13:MovieModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaHallsForMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetCinemaHallsForMovieResult" nillable="true" type="q14:ArrayOfCinemaHallModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualCinemaHallState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualCinemaHallStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetActualCinemaHallStateResult" nillable="true" type="q15:ArrayOfReservationPositionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>